@model PaginatedList<HangoutSpotDto>

<h3>HangoutSpots</h3>
<br />

<div class="text-danger" asp-validation-summary=All></div>
<form method="get" asp-controller="HangoutSpots" asp-action="Index">
	<div class="d-inline-flex p-2">
		<input class="name-filter" type="text" name="name" placeholder="Hangout spot name" aria-label="Hangout spot name" />
		<button type="submit" class="btn btn-primary p-2">Search</button>
		@Html.DropDownList("Categories",ViewBag.Categories,"Select category",new{@class="form-control"})
		@Html.DropDownList("TownParts", ViewBag.TownParts, "Select town part", new { @class = "form-control" })
	</div>
</form>
<table class="table table-striped">
	<thead>
		<tr>
			<td>Name</td>
			<td>Town part</td>
			<td>Category</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		@foreach(var hg in Model.Items)
		{
			<tr>
				<td>@hg.Name</td>
				<td>@hg.TownPart</td>
				<td>@hg.Category</td>
				<td><a class="btn btn-link" asp-controller="Mail" asp-action="CreateEmail" asp-route-hangoutspotId="@hg.HangoutSpotId">Select</a></td>
				<td><a class="btn btn-link" asp-controller="HangoutSpots" asp-action="UpdateHangoutSpot" asp-route-hangoutspotId="@hg.HangoutSpotId">Edit</a></td>
				<td><a class="btn btn-link" asp-controller="HangoutSpots" asp-action="DeleteHangoutSpot" asp-route-hangoutspotId="@hg.HangoutSpotId">Delete</a></td>
			</tr>	
		}
	</tbody>
</table>

<a class="btn btn-primary" asp-controller="HangoutSpots" asp-action="CreateHangoutSpot">Create</a>
@*Paging*@
<div class="row">
	<div class="col-md-6"></div>
	<div class="col-md-6">
		<nav>
			<ul class="pagination justify-content-center">
				<li class="page-item @(Model.PageIndex == 1 ? "disabled" : "" )">
					<a class="page-link text-black" asp-route-pageNumber="1" >
						<span>First</span>
					</a>
				</li>
				<li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
					<a class="page-link text-black" asp-route-pageNumber="@(Model.PageIndex-1)">
						<span>Previous</span>
					</a>
				</li>
				@for(int i = 1; i <= Model.TotalPages; i++)
				{
					<li class="page-item @(Model.PageIndex==i ? "active" : "")">
						<a class="page-link text-black" asp-route-pageNumber="@i">@i</a>
					</li>
				}
				<li class="page-item  @(Model.HasNextPage ? "" : "disabled")">
					<a class="page-link text-black" asp-route-pageNumber="@(Model.PageIndex+1)">
						<span>Next</span>
					</a>
				</li>
				<li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "") ">
					<a class="page-link text-black" asp-route-pageNumber="@Model.TotalPages">
						<span>Last</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>

</div>